<div class="card">
  <h3>Status Atual Por {{select}}</h3>
  <label *ngIf="select=='Estado'">Estado</label>
  <form *ngIf="select=='Estado'" [formGroup]="filter">
    <p-dropdown formControlName="uf" inputId="dropdown"  [options]="ufArray" [(ngModel)]="ufFilter" optionLabel="name" optionValue="code"></p-dropdown>
  </form>

  <label *ngIf="select!='Estado'">Data</label>
  <form *ngIf="select!='Estado'" [formGroup]="filterDate">
    <p-calendar formControlName="date" [(ngModel)]="datePicked" [showIcon]="true" inputId="icon" dateFormat="dd/mm/yy"></p-calendar>
  </form>

  <p-table *ngIf="select=='Estado'" [value]="nfsData" [style]="{'width':'100%'}" responsiveLayout="scroll" [scrollable]="true" scrollHeight="100px">
    <ng-template pTemplate="header">
      <tr>
        <th>Estado</th>
        <th>Status</th>
        <th>Última Atualização</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-nf>
      <tr>
        <td>{{nf.uf}}</td>
        <td *ngIf="nf.status" style="color: rgb(4, 196, 4);"><i class="pi pi-arrow-up"></i> Disponível</td>
        <td *ngIf="!nf.status" style="color: rgb(252, 17, 17);"><i class="pi pi-arrow-down"></i> Indisponível</td>
        <td>{{nf.verificationTime | data}}</td>
      </tr>
    </ng-template>
  </p-table>

  <p-table *ngIf="select!='Estado'" [value]="nfsData" [style]="{'width':'100%'}" responsiveLayout="scroll" [scrollable]="true" scrollHeight="400px">
    <ng-template pTemplate="header">
      <tr>
        <th>Estado</th>
        <th>Status</th>
        <th>Última Atualização</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-nf>
      <tr>
        <td>{{nf.uf}}</td>
        <td *ngIf="nf.status" style="color: rgb(4, 196, 4);"><i class="pi pi-arrow-up"></i> Disponível</td>
        <td *ngIf="!nf.status" style="color: rgb(252, 17, 17);"><i class="pi pi-arrow-down"></i> Indisponível</td>
        <td>{{nf.verificationTime | data}}</td>
      </tr>
    </ng-template>
  </p-table>
</div>


